<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/ServiceDiscovery.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/DynamicResourceEnvironment.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/DynamicSystem.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/StaticSystem.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/StaticResourceEnvironment.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/ClientsideLoadbalancing.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/Replicated.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/SingleServicePerResourceContainer.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/APIGateway.emfprofile_diagram">
      </profile>
   </extension>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="profiles/CircuitBreaker.emfprofile_diagram">
      </profile>
   </extension>
<extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
        <unit
            name="MicroservicesCatalogLibrary"
            namespace="org.palladiosimulator.architecturaltemplates.microservices.catalog.black">
         <library
               class="org.palladiosimulator.architecturaltemplates.microservices.catalog.black.MicroservicesCatalogLibrary"
               name="MicroservicesCatalogLibrary">
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/Ecore">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://www.modelversioning.org/emfprofile/application/1.1">
            </metamodel>
            <metamodel
                  nsURI="http://palladiosimulator.org/PalladioComponentModel/Core/Entity/5.1">
            </metamodel>
            <metamodel
                  nsURI="http://palladiosimulator.org/MetricSpec/1.0">
            </metamodel>
            <metamodel
                  nsURI="http://palladiosimulator.org/PalladioComponentModel/ResourceEnvironment/5.1">
            </metamodel>
         </library>
      </unit>
        <unit
              name="ProfilesLibrary"
              namespace="org.palladiosimulator.architecturaltemplates.microservices.catalog.black">
           <library
                 class="org.palladiosimulator.architecturaltemplates.microservices.catalog.black.ProfilesLibrary"
                 name="ProfilesLibrary">
              <metamodel
                    nsURI="http://www.eclipse.org/emf/2002/Ecore">
              </metamodel>
              <metamodel
                    nsURI="http://www.modelversioning.org/emfprofile/1.1">
              </metamodel>
              <metamodel
                    nsURI="http://www.modelversioning.org/emfprofile/application/1.1">
              </metamodel>
              <metamodel
                    nsURI="http://palladiosimulator.org/PalladioComponentModel/Core/Entity/5.1">
              </metamodel>
              <metamodel
                    nsURI="http://palladiosimulator.org/PalladioComponentModel/ResourceEnvironment/5.1">
              </metamodel>
              <metamodel
                    nsURI="http://palladiosimulator.org/PalladioComponentModel/Core/Composition/5.1">
              </metamodel>
           </library>
        </unit>
   </extension>
   <extension
         point="org.palladiosimulator.architecturaltemplates.catalogs">
      <ATCatalog
            catalogURI="platform:/plugin/org.palladiosimulator.architecturaltemplates.microservices.catalog/Microservices.architecturaltemplates#_-n14UOLfEeafmYmXiqQ7ig">
      </ATCatalog>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.modelobserver">
      <modelObserver
            modelObserver="org.palladiosimulator.architecturaltemplates.microservices.catalog.observer.LoadbalancerAdaptionObserver">
      </modelObserver>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.modelobserver">
      <modelObserver
            modelObserver="org.palladiosimulator.architecturaltemplates.microservices.catalog.observer.MonitorRepositoryObserver">
      </modelObserver>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.modelobserver">
      <modelObserver
            modelObserver="org.palladiosimulator.architecturaltemplates.microservices.catalog.observer.CircuitBreakerResponseTimeObserver">
      </modelObserver>
   </extension>
</plugin>
