<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated usagemodelextension -->
      <package
            uri="http://org.palladiosimulator.architecturaltemplates.microservices/usagemodelextension"
            class="usagemodelextension.UsagemodelextensionPackage"
            genModel="model/usagemodelextension.genmodel"/>
   </extension>

</plugin>
